[Unit]
Description=Highlight.io
Requires=docker.service
After=docker.service network.target

[Service]
User=root
WorkingDirectory=/mnt/host_data/highlight/docker
ExecStart=/bin/sh -c 'docker compose down && docker compose -f compose.hobby.yml down && echo -e "\n" | ./run-hobby.sh'
# Restart=always

[Install]
WantedBy=multi-user.target
